<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	lang="es"
	th:replace="~{shared/layout :: layout(~{::title}, ~{::section})}"
>
	<head>
		<title>Recetas Detalladas (Privado)</title>
	</head>
	<body>
		<section>
			<header>
				<th:block
					th:replace="shared/navbar-layout :: navbar-layout('Recetas Kume',${navbarItems})"
				></th:block>
				<h1 sec:authentication="name"></h1>
			</header>
			<main>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<h2>Acceso a Detalles de Recetas (Ruta Privada)</h2>
						<p>
							Esta página solo es visible después de iniciar sesión con éxito.
						</p>

                        
					</div>
					<div class="col-md-3"></div>
				</div>
				<div
					th:replace="~{shared/toast :: toast(${toastMessage}, ${toastType})}"
				></div>
			</main>
		</section>
	</body>
</html>
